# Ignore database files
*.sqlite3
*.db


# Ignore static files directory (for collectstatic)
/staticfiles/

# Ignore media files directory (for user-uploaded content)
/media/

# Ignore virtual environment
env/
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore local settings file (if applicable)
/local_settings.py

# Ignore logs and temporary files
*.log
*.swp
*.swo
*.swn
